# Iteration

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0  0.393095  0.559659 -0.226794
1 -1.039872  0.309888  1.280371
2  0.955168 -0.710642 -0.073768
3 -0.980163 -1.457998  0.359291

iteritems() Function

In [3]:
for x in df.iteritems():
    print(x)

('col1', 0    0.393095
1   -1.039872
2    0.955168
3   -0.980163
Name: col1, dtype: float64)
('col2', 0    0.559659
1    0.309888
2   -0.710642
3   -1.457998
Name: col2, dtype: float64)
('col3', 0   -0.226794
1    1.280371
2   -0.073768
3    0.359291
Name: col3, dtype: float64)

In [4]:
for x in df['col1'].iteritems():
    print(x)

(0, 0.393095444875675)
(1, -1.0398717501385715)
(2, 0.955167507603082)
(3, -0.9801630303256472)

In [5]:
for x in df.iloc[2].iteritems():
    print(x)

('col1', 0.955167507603082)
('col2', -0.7106421088097107)
('col3', -0.07376834568616886)

In [6]:
df

       col1      col2      col3
0  0.393095  0.559659 -0.226794
1 -1.039872  0.309888  1.280371
2  0.955168 -0.710642 -0.073768
3 -0.980163 -1.457998  0.359291

In [7]:
for x in df.iloc[[2],[1]].iteritems():
    print(x)

('col2', 2   -0.710642
Name: col2, dtype: float64)

In [8]:
df.iloc[2][1]

-0.7106421088097107

In [9]:
for x in df.iloc[[2],[0,1]].iteritems():
    print(x)

('col1', 2    0.955168
Name: col1, dtype: float64)
('col2', 2   -0.710642
Name: col2, dtype: float64)

In [10]:
df

       col1      col2      col3
0  0.393095  0.559659 -0.226794
1 -1.039872  0.309888  1.280371
2  0.955168 -0.710642 -0.073768
3 -0.980163 -1.457998  0.359291

iterrows Function()

In [11]:
df

       col1      col2      col3
0  0.393095  0.559659 -0.226794
1 -1.039872  0.309888  1.280371
2  0.955168 -0.710642 -0.073768
3 -0.980163 -1.457998  0.359291

In [12]:
for ri, r in df.iterrows():
    print(ri,r)

0 col1    0.393095
col2    0.559659
col3   -0.226794
Name: 0, dtype: float64
1 col1   -1.039872
col2    0.309888
col3    1.280371
Name: 1, dtype: float64
2 col1    0.955168
col2   -0.710642
col3   -0.073768
Name: 2, dtype: float64
3 col1   -0.980163
col2   -1.457998
col3    0.359291
Name: 3, dtype: float64

In [13]:
for r in df.iterrows():
    print(r)

(0, col1    0.393095
col2    0.559659
col3   -0.226794
Name: 0, dtype: float64)
(1, col1   -1.039872
col2    0.309888
col3    1.280371
Name: 1, dtype: float64)
(2, col1    0.955168
col2   -0.710642
col3   -0.073768
Name: 2, dtype: float64)
(3, col1   -0.980163
col2   -1.457998
col3    0.359291
Name: 3, dtype: float64)

In [14]:
for row in df.itertuples():
    print(row)

Pandas(Index=0, col1=0.393095444875675, col2=0.5596594661860663, col3=-0.22679418645580493)
Pandas(Index=1, col1=-1.0398717501385715, col2=0.3098883354440092, col3=1.28037058272679)
Pandas(Index=2, col1=0.955167507603082, col2=-0.7106421088097107, col3=-0.07376834568616886)
Pandas(Index=3, col1=-0.9801630303256472, col2=-1.4579981598372649, col3=0.35929079465721725)