# Function Application

In [1]:
import numpy as np
import pandas as pd

### It is of three types 
1. Table-wise [Operate of entire dataset(each element of dataset)]
2. Row or Column -wise [Operate of entire column or the row]
3. Element - wise [Operate on Selected Element]

### TABLE - WISE

In [3]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0  0.279515 -0.410335  0.081329
1 -0.205354  0.100889 -0.576474
2 -0.078746  0.760979  1.356200
3  0.453037  0.433195  0.192575
4 -0.816082 -2.020146 -0.049078

In [14]:
def adder(e1,e2):
    return e1+e2

In [15]:
df.pipe(adder,2)

       col1      col2      col3
0  2.279515  1.589665  2.081329
1  1.794646  2.100889  1.423526
2  1.921254  2.760979  3.356200
3  2.453037  2.433195  2.192575
4  1.183918 -0.020146  1.950922

#### Row - Column Wise

In [16]:
df

       col1      col2      col3
0  0.279515 -0.410335  0.081329
1 -0.205354  0.100889 -0.576474
2 -0.078746  0.760979  1.356200
3  0.453037  0.433195  0.192575
4 -0.816082 -2.020146 -0.049078

In [34]:
df.apply(np.mean) #Column - wise Axis =0

col1   -0.073526
col2   -0.227083
col3    0.200911
dtype: float64

In [33]:
df.apply(np.mean , axis=1) #Row - wise

0   -0.016497
1   -0.226980
2    0.679478
3    0.359602
4   -0.961768
dtype: float64

#### Element - wise Function

In [35]:
df

       col1      col2      col3
0  0.279515 -0.410335  0.081329
1 -0.205354  0.100889 -0.576474
2 -0.078746  0.760979  1.356200
3  0.453037  0.433195  0.192575
4 -0.816082 -2.020146 -0.049078

In [37]:
df['col1'].map(lambda x:x*100)

0    27.951535
1   -20.535383
2    -7.874609
3    45.303654
4   -81.608154
Name: col1, dtype: float64

In [45]:
df.iloc[2].map(lambda x:x+8)

col1    7.921254
col2    8.760979
col3    9.356200
Name: 2, dtype: float64

In [43]:
df

       col1      col2      col3
0  0.279515 -0.410335  0.081329
1 -0.205354  0.100889 -0.576474
2 -0.078746  0.760979  1.356200
3  0.453037  0.433195  0.192575
4 -0.816082 -2.020146 -0.049078

In [47]:
df.iloc[0]['col1']

0.2795153498835995

In [49]:
df.iloc[0]['col1'].map(lambda x:x+1.2)

AttributeError: 'numpy.float64' object has no attribute 'map'

In [60]:
d = pd.DataFrame([[1,2],[3,4]], dtype =int)
d

   0  1
0  1  2
1  3  4

In [63]:
d.iloc[0][0].map(lambda x:x+4)

AttributeError: 'numpy.int64' object has no attribute 'map'

In [64]:
d = df

In [65]:
d

       col1      col2      col3
0  0.279515 -0.410335  0.081329
1 -0.205354  0.100889 -0.576474
2 -0.078746  0.760979  1.356200
3  0.453037  0.433195  0.192575
4 -0.816082 -2.020146 -0.049078

In [66]:
d['col3'] = d['col3'].map(lambda x:x+2)
d

       col1      col2      col3
0  0.279515 -0.410335  2.081329
1 -0.205354  0.100889  1.423526
2 -0.078746  0.760979  3.356200
3  0.453037  0.433195  2.192575
4 -0.816082 -2.020146  1.950922