In [2]:
import numpy as np
import pandas as pd

In [3]:
arr = np.array([[1,2,3,4,5],[6,7,8,9,10]], dtype =None, copy = True, order = None, subok = False, ndmin =0)
arr

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [4]:
df = pd.DataFrame(arr , columns =list(['apple', 'boy', 'cat', 'dog', 'elephent']))
df

   apple  boy  cat  dog  elephent
0      1    2    3    4         5
1      6    7    8    9        10

In [5]:
B=np.dtype('i4')
B

dtype('int32')

In [6]:
arr.itemsize

8

In [7]:
arr2= np.array(df)
arr2

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])