In [7]:
import numpy as np
import pandas as pd

In [64]:
df =pd.read_csv('/home/lt-194/Downloads/subscription.csv')

In [68]:
df= df[df.apply(lambda row: row.astype(str).str.contains('@sap.com').any(), axis=1)]
df

,Email,Name,ID,Status
489,alok.bhatgunaki@sap.com,NaN,accessemails_161737,unenrolled
490,archana.chilukuri@sap.com,NaN,accessemails_161738,unenrolled
491,ashok.choudhry@sap.com,NaN,accessemails_161739,unenrolled
492,will.htun@sap.com,NaN,accessemails_161740,unenrolled
493,sahana.pailoor@sap.com,NaN,accessemails_161741,unenrolled
...,...,...,...,...
2435,tiger.jiang@sap.com,Tiger Jiang,learners_91925,enrolled
2438,tim.ke@sap.com,Tim Ke,learners_91466,enrolled
2481,vahid.bisadi@sap.com,Vahid Bisadi,learners_87403,enrolled
2490,vijay.bandi@sap.com,Vijay Bandi,learners_88841,enrolled
2498,vladimir.tomic@sap.com,Vladimir Tomic,learners_87984,enrolled

In [66]:
unr = df[(df.Status == 'unenrolled')]

In [67]:
enr = df[(df.Status == 'enrolled')]

In [61]:
arr =np.array(df)

In [74]:
df.loc[df['Email']=='vijay.bandi@sap.com']

                    Email         Name              ID    Status
2490  vijay.bandi@sap.com  Vijay Bandi  learners_88841  enrolled

In [76]:
df['Email']

489       alok.bhatgunaki@sap.com
490     archana.chilukuri@sap.com
491        ashok.choudhry@sap.com
492             will.htun@sap.com
493        sahana.pailoor@sap.com
                  ...
2435          tiger.jiang@sap.com
2438               tim.ke@sap.com
2481         vahid.bisadi@sap.com
2490          vijay.bandi@sap.com
2498       vladimir.tomic@sap.com
Name: Email, Length: 145, dtype: object

In [77]:
df

,Email,Name,ID,Status
489,alok.bhatgunaki@sap.com,NaN,accessemails_161737,unenrolled
490,archana.chilukuri@sap.com,NaN,accessemails_161738,unenrolled
491,ashok.choudhry@sap.com,NaN,accessemails_161739,unenrolled
492,will.htun@sap.com,NaN,accessemails_161740,unenrolled
493,sahana.pailoor@sap.com,NaN,accessemails_161741,unenrolled
...,...,...,...,...
2435,tiger.jiang@sap.com,Tiger Jiang,learners_91925,enrolled
2438,tim.ke@sap.com,Tim Ke,learners_91466,enrolled
2481,vahid.bisadi@sap.com,Vahid Bisadi,learners_87403,enrolled
2490,vijay.bandi@sap.com,Vijay Bandi,learners_88841,enrolled
2498,vladimir.tomic@sap.com,Vladimir Tomic,learners_87984,enrolled

In [80]:
df2 =pd.read_csv('/home/lt-194/Downloads/subscription.csv')

In [82]:
df2['Email']

0                       *@activision.com
1                      *@alhgroup.com.au
2                              *@anz.com
3                          *@anzgcis.com
4                             *@bigw.com
                      ...
2557    yusuke.yokoyama.j4m@jp.denso.com
2558           yuta.yasugahira@jcblab.jp
2559                    zanella@mayo.edu
2560             zbigniew.baska@pkobp.pl
2561               zpeschke@blizzard.com
Name: Email, Length: 2562, dtype: object

In [83]:
df['Email'].isin(df2['Email']).value_counts()

True    145
Name: Email, dtype: int64

In [85]:
df3=df['Email'].isin(df2['Email'])

In [86]:
df3

489     True
490     True
491     True
492     True
493     True
        ...
2435    True
2438    True
2481    True
2490    True
2498    True
Name: Email, Length: 145, dtype: bool